{% extends 'base.html.twig' %}

{% block body %}
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" media="all">
    <link href="{{ asset('assets/css/nfse_bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/nfse.css') }}" rel="stylesheet" type="text/css"/>

    <h1 class="pagination-centered">Notas</h1>

    <div class="flat-theme">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-4">

                {#<input type="button" value="Cadastrar Nota" href="{{ path('nota_new') }}">#}
                <a href="{{ path('nota_new') }}"> Nova nota</a>

            </div>
        </div>
        <div class="row">

        <div class="col-xs-5 col-xs-offset-4">
            <table class="table-flat deletable" style="text-align: center">
                <thead>
                <tr class="table tabelaNota">
                    <th>Id</th>
                    <th>Número</th>
                    <th>Cliente</th>
                    <th>Data</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                {% for notum in notas %}
                    <tr>
                        <td><a href="{{ path('nota_show', { 'id': notum.id }) }}">{{ notum.id }}</a></td>
                        <td>{{ notum.numeroNota }}</td>
                        <td>{{ notum.nome }}</td>
                        <td>{% if notum.data %}{{ notum.data|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ notum.status }}</td>
                        <td>{{ notum.total|number_format(2, ',', '') }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('nota_show', { 'id': notum.id }) }}">Ver Nota <span class="" aria-hidden="true"></span></a>
                                </li>
                                <li style="display: none">
                                    <a href="{{ path('nota_edit', { 'id': notum.id }) }}">Editar <span class="glyphicon glyphicon-pencil"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        </div>


    </div>
{% endblock %}
