{% extends 'base.html.twig' %}

{% block body %}
    <link href="{{ asset('assets/css/nfse_bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/nfse.css') }}" rel="stylesheet" type="text/css"/>

    <h1 style="text-align: center">Visualização NFSe</h1>

<div class="flat-theme">
    <div class="row">
        <div class="col-xs-5 col-xs-offset-5">

    <table class="table-flat">
        <tbody>
        <tr></tr>
            <tr>
                <th>Numeronota</th>
                <td>{{ notum.numeroNota }}</td>
            </tr>
            <tr>
                <th>Cliente</th>
                <td>{{ notum.cliente }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{% if notum.data %}{{ notum.data|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cancelada</th>
                <td>{{ notum.cancelada }}</td>
            </tr>
            <tr>
                <th>Motivo</th>
                <td>{{ notum.motivo }}</td>
            </tr>
            <tr>
                <th>Pis</th>
                <td>{{ notum.pis }}</td>
            </tr>
            <tr>
                <th>Csl</th>
                <td>{{ notum.csl }}</td>
            </tr>
            <tr>
                <th>Cofins</th>
                <td>{{ notum.cofins }}</td>
            </tr>
            <tr>
                <th>Inss</th>
                <td>{{ notum.inss }}</td>
            </tr>
            <tr>
                <th>Iss</th>
                <td>{{ notum.iss }}</td>
            </tr>
            <tr>
                <th>Irrf</th>
                <td>{{ notum.irrf }}</td>
            </tr>
            <tr>
                <th>Issretido</th>
                <td>{{ notum.issRetido }}</td>
            </tr>
            <tr>
                <th>Desconto</th>
                <td>{{ notum.desconto }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ notum.total }}</td>
            </tr>
            <tr>
                <th>Autenticidade</th>
                <td>{{ notum.autenticidade }}</td>
            </tr>


            <tr>
                <th>Id</th>
                <td>{{ notum.id }}</td>
            </tr>
        </tbody>

    </table>

        </div>
    </div>
</div>

            <ul>
        <li>
            <a href="{{ path('nota_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('nota_edit', { 'id': notum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
