{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h1 class="pagination-centered">Lista de Clientes</h1>
            </div>
        </div>

        <div class="row padding-top padding-bottom">
            <div class="col-xs-1 col-xs-offset-1">
                <a class="abutton" href="{{ path('cliente_new') }}">Novo Cliente</a>
            </div>
        </div>

        <div class="row row-centered">
            <div class="col-xs-10 col-xs-offset-1">
                <table class="table pagination-centered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Uf</th>
                        <th>Fone</th>
                        <th>Cpfcnpj</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td><a href="{{ path('cliente_show', { 'id': cliente.id }) }}">{{ cliente.empresa }}</a></td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.cidade }}</td>
                        <td>{{ cliente.uf }}</td>
                        <td>{{ cliente.fone }}</td>
                        <td>{{ cliente.cpfcnpj }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('cliente_show', { 'id': cliente.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>

{% endblock %}
